body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-image: linear-gradient(to right, #ff9966, #ff5e62); /* Modern gradient background */
    padding: 1rem;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 0.5rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

h1, h2, h3 {
    margin-bottom: 0.5rem;
}

.profile-picture {
    width: 160px;
    height: 120px;
    /*border-radius: 50%;*/
    object-fit: cover;
}

.subdirectories {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.subdirectory-block {
    text-decoration: none;
    color: #333;
    padding: 1rem;
    background-image: linear-gradient(to right, #ff9966, #ff5e62); /* Modern gradient background */
    border-radius: 4px;
    width: 45%;
    text-align: center;
    transition: 0.3s;
}

.subdirectory-block:hover {
    background-image: linear-gradient(to right, #ff5e62, #ff9966); /* Invert gradient on hover */
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}

#contact ul {
    list-style-type: none;
    padding: 0;
}

#contact li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#contact li span {
    display: inline-block;
    width: 70px;
    text-align: right;
    margin-right: 10px;
}

